.frame-type-timeline {
  .timeline {
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      transform: translate(-50%, 0);
      background-image: radial-gradient(
        circle,
        #ad0440 0%,
        #532671 16%,
        #069fb4 32%,
        #4aa421 50%,
        #ffb802 68%,
        #fc6c03 83%,
        #de0c3a 100%
      ) !important;
      width: 2px;
      border: none;
      opacity: 1;
    }
    &:after {
      filter: blur(5px);
      transform: translate(-25px, 0);
      @media (min-width: 768px) {
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
    .timeline-item {
      margin-top: 1.5rem;
      .timeline-item-inner {
        padding: 0;
        background: linear-gradient(0deg, #000, #272727);
        border-radius: 5px;
        //box-shadow: 0 0 40px #e0e0e0;
        border: 1px solid #000;

        .timeline-content-wrap {
          &:before,
          &:after {
            content: "";
            position: absolute;
            left: -1px;
            top: -1px;
            background: radial-gradient(
              circle at top left,
              #ad0440,
              #532671,
              #069fb4,
              #4aa421,
              #ffb802,
              #fc6c03,
              #de0c3a,
              #ad0440,
              #532671,
              #069fb4,
              #4aa421,
              #ffb802,
              #fc6c03,
              #de0c3a
            );
            background-size: 400%;
            width: calc(100% + 2px);
            height: calc(100% + 2px);
            z-index: -1;
            animation: steam 60s linear infinite;
            border-radius: 5px;
          }

          &:after {
            animation: steam 90s linear infinite;
            filter: blur(10px);
          }

          padding: 1rem;
          padding-bottom: 1.5rem;
          font-size: 1rem;
          @media (min-width: 1400px) {
            font-size: 1.25em;
            padding: 1.5rem 2rem 2.5rem;
          }
        }

        border-radius: 5px;
        color: #e0e0e0;
        text-align: center;

        .timeline-item-marker:after,
        .timeline-item-marker:before,
        .timeline-item-marker span,
        .timeline-item-icon:after,
        .timeline-item-icon:before,
        .timeline-item-icon span {
          border-radius: 50%;
        }

        .timeline-item-header {
          .timeline-item-header-headline {
            font-weight: 400;
            font-size: 1.25rem;
            padding-bottom: 0rem;
            @media (min-width: 1400px) {
              font-size: 1.5rem;
            }
            color: #e0e0e0;
            margin-bottom: 1rem;
            text-transform: uppercase;
            border-bottom: none;
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
            border-bottom: 1px solid #464545;
            padding-bottom: 1rem;
          }

          .timeline-item-header-subheadline {
            font-size: 1rem;

            padding-bottom: 1rem;
            @media (min-width: 1400px) {
              font-size: 1.25rem;
            }
            color: #e0e0e0;
            margin-bottom: 0;
            text-transform: uppercase;

            font-weight: bold;

            &:before,
            &::after {
              content: " - ";
            }
          }
        }

        .timeline-item-marker {
          &:before,
          &:after {
            content: "";
            opacity: 1;
            animation: steam 5s linear infinite;
            background-image: radial-gradient(
              circle at top right,
              #ad0440 0%,
              #532671 16%,
              #069fb4 32%,
              #4aa421 50%,
              #ffb802 68%,
              #fc6c03 83%,
              #de0c3a 100%
            ) !important;
            border-color: rgba(201, 201, 201, 0.25);
          }
          &:after {
            filter: blur(1rem);
          }
          span {
            opacity: 1;
            border: none;
          }
        }

        .timeline-item-text {
          color: #e0e0e0;

          font-size: 1.125rem;
          font-weight: 100;
          line-height: 1.5rem;
          @media (min-width: 1400px) {
            font-size: 1.25rem;
            font-weight: 100;
            line-height: 1.75rem;
          }
        }
        .timeline-item-date {
          display: none;
        }
      }
      &:nth-child(odd) .timeline-content-wrap,
      &:nth-child(even) .timeline-content-wrap {
        &:before,
        &:after {
          margin-left: 1.5rem;
          width: calc(100% + 2px - 1.5rem);
        }
      }
      @media (min-width: 768px) {
        &:nth-child(odd) .timeline-content-wrap {
          &:before,
          &:after {
            margin-left: 0;
            margin-right: calc(1.5rem + 46px / 2);
            width: calc(100% + 1px - 46px);
          }
        }
        &:nth-child(even) .timeline-content-wrap {
          &:before,
          &:after {
            margin-left: calc(1.5rem + 46px / 2);
            width: calc(100% + 1px - 46px);
          }
        }
      }
    }

    @media (max-width: 768px) {
      padding-left: 12px;

      &:before {
        transform: translate(-1.75rem, 0);
      }

      &:after {
        filter: blur(5px);
        transform: translate(-1rem, 0);
      }

      .timeline-item-inner {
        margin-left: 0.5rem;
      }

      .timeline-item:nth-child(odd) .timeline-content-wrap:before,
      .timeline-item:nth-child(odd) .timeline-content-wrap:after,
      .timeline-item:nth-child(even) .timeline-content-wrap:before,
      .timeline-item:nth-child(even) .timeline-content-wrap:after {
        margin-left: 0.5rem;
        width: calc(100% + 2px - 0.5rem);
      }

      .timeline-item-marker,
      .timeline-item-icon {
        left: -1rem;
      }
    }
  }
}
